*{
    margin: 0;
    padding: 0;
    font-family: Century Gothic;
}
header{
    background-image: url(https://lh3.googleusercontent.com/proxy/yhb1_cJK7192Qh1R-SdPy0_btU_jcL-NO2t2MURIOik2boRsBsENbI0kox9jAhlvc7Q2Wda68J5Q-I6MVRtUD_i0uQgQEO-sFHip3GZQ370ZCtpLt7sSKNxWzADde-OvObgP3O9YOd-8Zv5j-H1LSLLZVFsJHtLulkicoBlW);
    height: 100vh;
    background-size: cover;
    background-position: centre;
}

.head{
    margin: auto;

}

.main{
    max-width: 1200px;
    margin: auto;
}
ul{

    float: left;
    list-style-type: none;
    /margin-top: 25px;/
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration:  none;
    color: rgb(26, 11, 161);
    padding: 5px 20px;
    border: 3px solid #66b3ff;
    transition: 0.6s ease;

}
ul li a:hover{
    background-color: rgb(119, 141, 238);
    color: black;
}
ul li form button{
    text-decoration:  none;
    color: rgb(26, 11, 161);
    padding: 5px 20px;
    background-color: transparent;
    border: 3px solid #66b3ff;
    transition: 0.6s ease;

}
ul li form button:hover{
    background-color: rgb(119, 141, 238);
    color: black;
}
.main{
    max-width: 1200px;
    margin: auto;
}


.sb{
    width: 85%;
    padding: 10px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #99ccff 20%, #99ccff 100%);
    border: 0;
    outline: none;
    border-radius: 30px;

}

.navbar{
    width: 85%;
    height: 15%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.txt{
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.txt1{
    width: 80%;
    height:0%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}